html, body {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.dark {
  color: $color;
  background-color: $background;
}

.light {
  color: $background;
  background-color: $color;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: $light;
  font-size: 16px;
  padding: 12px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  
  header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    h4 {
      font-size: 18px;
      font-weight: $reg;
    }
    nav {
      ul {
        display: flex;
        li {
          margin: 0 12px;
          a{
            display: block;
            padding: 12px 15px;
            text-decoration: none;
            color: $color;
          }
        }
      }
    }
  }
  
  main {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    div.store {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      
      div.item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 25px 0;
        
        div.item-pic {
          background-color: #333333;
          height: 200px;
          width: 100%;
        }
        
        button {
         border: none;
          width: 50%;
          height: 40px;
          font-family: "Open Sans", sans-serif;
        }
        button.add-btn {
          background-color: lightgreen;
        }
        button.details.btn {
          
        }
      }
    }
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
} /* END DEFAULT STYLING */