/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
@include respond-to(small) { ... }
@include respond-to(medium) { ... }
@include respond-to(large) { ... }
*/
html, body {
  height: 100%;
  box-sizing: border-box;
  overflow: auto; }

.dark {
  background-color: #212121;
  color: ghostwhite; }
  .dark a {
    color: ghostwhite; }

.light {
  background-color: #f2f2f2;
  color: #212121; }
  .light a {
    color: #212121; }
  .light footer {
    border-top: 1px solid rgba(21, 21, 21, 0.15); }
  .light button {
    border: 1px solid #212121; }

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 12px; }
  body header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center; }
    body header h4 {
      font-weight: 400;
      font-size: 24px; }
    body header nav {
      margin-top: 12px; }
      body header nav ul {
        display: flex; }
        body header nav ul li {
          margin: 0 12px; }
          body header nav ul li a {
            text-decoration: none;
            display: block;
            padding: 12px 15px; }
  body main {
    margin: 48px auto; }
    body main p {
      max-width: 600px;
      line-height: 150%; }
  body footer {
    border-top: 1px solid rgba(242, 242, 242, 0.15);
    padding-top: 24px;
    text-align: center;
    width: 100%; }
    body footer .footer-links div.section {
      margin-bottom: 48px; }
      body footer .footer-links div.section h4 {
        font-weight: 400;
        font-size: 18px; }
      body footer .footer-links div.section ul li {
        padding: 20px 0; }
        body footer .footer-links div.section ul li a {
          text-decoration: none;
          font-size: 14px;
          padding: 12px 30px; }
    body footer .footer-links div.section:last-child {
      margin-bottom: 24px; }
    body footer .sub-footer {
      padding: 12px 0;
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body footer .sub-footer button {
        font-family: 'Open Sans', sans-serif;
        width: 100px;
        height: 25px; }

/* END OF DEFAULT STYLING */
@media (min-width: 767px) {
  body {
    padding: 14px; }
    body main {
      height: 50vh;
      justify-self: flex-start; }
    body footer .footer-links {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      body footer .footer-links div.section {
        margin-bottom: 0; }
      body footer .footer-links div.section:last-child {
        margin-bottom: 0; } }
/* END OF SMALL STYLING */
@media (min-width: 992px) {
  body {
    padding: 18px; } }
/* END OF MEDIUM STYLING */
@media (min-width: 1200px) {
  body {
    max-width: 1200px;
    margin: auto;
    padding: 24px; }
    body header {
      flex-flow: row;
      justify-content: space-between;
      width: 100%; } }
/* END OF LARGE STYLING */

/*# sourceMappingURL=style.css.map */
