html, body {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: $background;
  color: $color;
  font-family: 'Open Sans', sans-serif;
  font-weight: $light;
  padding: 12px;
  
  header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    h4 {
      font-weight: $reg;
      font-size: 24px;
    }
    
    nav {
      margin-top: 12px;
      
      ul {
        display: flex;
        
        li {
          margin: 0 12px;
          
          a {
            text-decoration: none;
            color: $color;
            display: block;
            padding: 12px 15px;
          }
        }
      }
    }
  }
  
  
  footer {
    text-align: center;
    width: 100%;
    
    div {
      h4 {
        margin-top: 48px;
        font-weight: $reg;
        font-size: 18px;
      }
      
      ul {
        margin-bottom: 48px;
        
        li {
          margin-top: 40px;
          
          a {
            text-decoration: none;
            color: $color;
            font-size: 14px;
            padding: 12px 30px;
          }
        }
      }
    }
  }
} /* END OF DEFAULT STYLING */