html, body {
  height: auto;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  background-color: $background;
  color: $color;
  font-family: 'Open Sans', sans-serif;
  font-weight: $light;
  padding: 12px;
  
  header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    h4 {
      font-weight: $reg;
      font-size: 24px;
    }
    
    nav {
      margin-top: 12px;
      
      ul {
        display: flex;
        
        li {
          margin: 0 12px;
          
          a {
            text-decoration: none;
            color: $color;
            display: block;
            padding: 12px 15px;
          }
        }
      }
    }
  }
  
  main {
    margin: 48px auto;
    
    p {
      max-width: 600px;
      line-height: 150%;
    }
  }
  
  footer {
    border-top: 1px solid rgba(242, 242, 242, .5);
    padding-top: 24px;
    text-align: center;
    width: 100%;
    
    div.section {
      margin-bottom: 48px;
      
      h4 {
        font-weight: $reg;
        font-size: 18px;
      }
      
      ul {
        li {
          padding: 20px 0;
          
          a {
            text-decoration: none;
            color: $color;
            font-size: 14px;
            padding: 12px 30px;
          }
        }
      }
    }
    div.section:last-child {
      margin-bottom: 24px;
    }
  }
} /* END OF DEFAULT STYLING */