html, body {
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.dark {
  background-color: $background;
  color: $color;
  
  a {
    color: $color;
  }
}

.light {
  background-color: #f2f2f2;
  color: #212121;
  
  a {
    color: #212121; 
  } 
  
  footer {
    border-top: 1px solid rgba(21, 21, 21, .15)
  }
  
  button {
    border: 1px solid #212121;
  }
}

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  font-weight: $light;
  padding: 12px;
  
  header {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    
    h4 {
      font-weight: $reg;
      font-size: 24px;
    }
    
    nav {
      margin-top: 12px;
      
      ul {
        display: flex;
        
        li {
          margin: 0 12px;
          
          a {
            text-decoration: none;
            display: block;
            padding: 12px 15px;
          }
        }
      }
    }
  }
  
  main {
    margin: 48px auto;
    
    p {
      max-width: 600px;
      line-height: 150%;
    }
  }
  
  footer {
    border-top: 1px solid rgba(242, 242, 242, .15);
    padding-top: 24px;
    text-align: center;
    width: 100%;
    
    .footer-links {
      div.section {
        margin-bottom: 48px;

        h4 {
          font-weight: $reg;
          font-size: 18px;
        }

        ul {
          li {
            padding: 20px 0;

            a {
              text-decoration: none;
              font-size: 14px;
              padding: 12px 30px;
            }
          }
        }
      }
      div.section:last-child {
        margin-bottom: 24px;
      }
    }
    
    .sub-footer {
      padding: 12px 0;
      margin-top: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      button {
        font-family: 'Open Sans', sans-serif;
        width: 100px;
        height: 25px;
      }
    }
  }
} /* END OF DEFAULT STYLING */


@include respond-to(small) {
  body {
    padding: 14px;
    
    main {
      height: 50vh;
      justify-self: flex-start;
    }
    
    footer {
      .footer-links {
        display: flex;
        justify-content: space-around;
        align-items: center;

        div.section {
          margin-bottom: 0;
        }
        div.section:last-child {
          margin-bottom: 0;
        }
      }
      
    }
  }
} /* END OF SMALL STYLING */


@include respond-to(medium) {
  body {
    padding: 18px;
  }
} /* END OF MEDIUM STYLING */


@include respond-to(large) {
  body {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    
    header {
      flex-flow: row;
      justify-content: space-between;
      width: 100%;
    }
  }
} /* END OF LARGE STYLING */
